---
Title: "Inspections Data Source"
Description: |-
    List cluster inspections
---

# Inspections Data Source

This data source enables users to list cluster inspections.

## Example Usage

{{ tffile "examples/data-sources/inspections/datasource_inspections.tf" }}

{{ .SchemaMarkdown | trimspace }}
